{% extends "base.html" %}
{% block content %}
    <h1 class="text-center display-4">To-Do List</h1>
    <form method="post" action="/add_task/">
        {% csrf_token %}
        <div class="form-group">
            <label for="task">Enter your Task</label>
            <input type="text" class="form-control" id="task" name="task" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-dark btn-lg btn-block">Submit</button>
    </form>
    <hr class="my-5">
    <div>
        <h1 class="text-center display-4 text-dark bg-light">Current Tasks</h1>


        {% for task in new_tasks %}
            {% if task.status == "current" %}
                <div class="row  py-2 border-bottom border-dark">
                    <div class="col-md-9 align-middle">{{ task.title }}</div>
                    <div class="col-md-2 align-middle">
                        <a href="/complete_task/{{ task.id }}">
                            <button class="btn btn-success btn-block">Completed</button>
                        </a>
                    </div>
                    <div class="col-md-1 align-middle">
                        <a href="/remove_task/{{ task.id }}">
                            <button class="btn btn-danger btn-block">Remove</button>
                        </a>
                    </div>
                    <hr>
                </div>
            {% endif %}
        {% endfor %}


        <h1 class="text-center display-4 mt-5 text-dark bg-light">Completed Tasks</h1>
        {% for task in new_tasks %}
            {% if task.status == "completed" %}
                <div class="row  py-2 border-bottom border-dark">
                    <div class="col-md-9 align-middle">{{ task.title }}</div>
                    <div class="col-md-3 align-middle">
                        <a href="/remove_task/{{ task.id }}">
                            <button class="btn btn-danger btn-block">Remove</button>
                        </a>
                    </div>
                    <hr>
                </div>
            {% endif %}
        {% endfor %}


    </div>
{% endblock content %}